{% assign theme = site.data.themes[site.ui_theme] %}
<div class="tab-pane overflow-auto" id="{{ section.id }}" role="tabpanel" aria-labelledby="{{ section.id }}-tab">
  {% if section.description %}
  <p><i>{{section.description}}</i></p>
  {% endif %}
  <div class="list-group">
    {% for cert in site.data.certificates %}
    <div class="list-group-item list-group-item-action">
      <div class="media mt-2" id="certificate-{{cert.credential.id}}">
        <a href="{{ cert.credential.url }}" target="_blank" title="Credential URL">
          <img src="{{ cert.issuer.logoURL }}" class="mr-3 mb-2 img-thumbnail border-0" alt="{{ cert.issuer.logoAlt }}"
            title="{{ cert.issuer.logoAlt }}">
        </a>
        <div class="media-body">
          <div class="row">
            <div class="col-6">
              <h5 class="mt-0">
                <a href="{{ cert.course.url }}" class="highlighted">{{ cert.name }}</a>
              </h5>
            </div>
            <div class="col-4 text-right">
              <span>{{ cert.startDate.month }} {{ cert.startDate.day }}, {{ cert.startDate.year }} - {{
                cert.startDate.month }} {{
                cert.startDate.day }}, {{ cert.startDate.year }}</span>
            </div>
          </div>
          {% if cert.descriptions %}
          <div>
            <b><em>Description:</em></b> {{cert.descriptions}}
          </div>
          {% endif %}
          {% if cert.offeredBy %}
          <div>
            <b><em>Offered by:</em></b> {{cert.offeredBy}}
          </div>
          {% endif %}
          {% if cert.instructor %}
          <div>
            <b><em>Instructors:</em></b> {{cert.instructor}}
          </div>
          {% endif %}
          {% if cert.grade %}
          <div>
            <b><em>Grade:</em></b> {{cert.grade}}
          </div>
          {% endif %}
          {% if cert.expiry %}
          <div>
            <b><em>Expiry:</em></b> {{cert.expiry}}
          </div>
          {% endif %}
          {% if cert.credential %}
          <div>
            <b><em>Credential ID:</em></b> {{cert.credential.id}} <a href="{{cert.credential.url}}" target="_blank">See
              credential <i class="fas fa-external-link-alt" aria-hidden="true"></i></a>
          </div>
          {% endif %}
          {% if cert.tags %}
          {% for tag in cert.tags %}
          <span class="badge badge-secondary mr-1" style="background-color:{{ theme.projects-color }};">{{ tag
            }}</span>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>