{% assign theme = site.data.themes[site.ui_theme] %}
<h5 class="card-title"
  style="font-family:{{ theme.education-title-font}}; font-size:{{ theme.education-title-size }}; color:{{theme.education-font-color}};">
  Education</h5>
<ul class="list-unstyled">
  {% for entry in site.data.education %}
  <li class="media" style="margin: 10px 0;">
    <img src="{{ entry.Icon }}" width="{{ entry.IconW }}" height="{{ entry.IconH }}" alt="{{ entry.Alt }}">
    <div class="media-body">
      <h5
        style="font-family:{{ theme.education-entry-font}}; font-size:{{ theme.education-entry-size }}; color:{{theme.education-font-color}};">
        {{ entry.School }}</h5>
      <h6>{{ entry.StartDate }} - {{ entry.EndDate }}</h6>
      {% if entry.Faculty %}
      <p
        style="font-family:{{ theme.education-entry-font}}; font-size:{{ theme.education-section-size }}; color:{{theme.education-font-color}};">
        <i>{{ entry.Faculty }}</i>
      </p>
      {% endif %}
      <p
        style="font-family:{{ theme.education-entry-font}}; font-size:{{ theme.education-section-size }}; color:{{theme.education-font-color}};">
        <i>{{ entry.Program }}</i>
      </p>
      {% if entry.Degree %}
      <p><em>Degree</em>: {{ entry.Degree }}</p>
      {% endif %}
      {% if entry.gpa %}
      <p>
        <span><em>GPA</em>: {{ entry.gpa }}</span>
        {% if entry.ranking %}
        <span><em>Rank</em>: {{ entry.ranking }}</span>
        {% endif %}
      </p>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>